[submodule "submodules/genshin-spiral-abyss-teams-compilation"]
	path = submodules/genshin-spiral-abyss-teams-compilation
	url = git@github.com:man90es/genshin-spiral-abyss-teams-compilation.git
	branch = main
[submodule "submodules/Spiral-Stats"]
	path = submodules/Spiral-Stats
	url = git@github.com:piedorr/Spiral-Stats.git
	branch = main
